<app-navbar-admin
  (menuToggle)="toggleMenu()">
</app-navbar-admin>


<div class="admin-container">

  <!-- SIDEBAR -->
  <aside
    class="sidebar"
    [class.abierto]="menuAbierto">

    <h4 class="text-center mb-4">
      🍔 Fast Track Food
    </h4>

    <ul class="nav flex-column">

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/dashboard"
          routerLinkActive="active"
          (click)="cerrarMenu()">
          <i class="fa-solid fa-chart-column"></i>Dashboard
        </a>
      </li>

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/products"
          routerLinkActive="active"
          (click)="cerrarMenu()">
          <i class="fa-solid fa-burger"></i> Productos
        </a>
      </li>

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/categorias"
          routerLinkActive="active"
          (click)="cerrarMenu()">
          <i class="fa-solid fa-table-list"></i>Categorías
        </a>
      </li>

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/pedidos"
          routerLinkActive="active"
          (click)="cerrarMenu()">
         <i class="fa-solid fa-cart-shopping"></i>Pedidos
        </a>
      </li>

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/delivery-modes"
          routerLinkActive="active"
          (click)="cerrarMenu()">
          <i class="fa-solid fa-motorcycle"></i>Delivery
        </a>
      </li>

      <li class="nav-item mb-2">
        <a
          class="nav-link"
          routerLink="/admin/usuarios"
          routerLinkActive="active"
          (click)="cerrarMenu()">
          <i class="fa-solid fa-circle-user"></i> Usuarios
        </a>
      </li>

      

    </ul>

  </aside>


  <!-- CONTENIDO -->
  <main class="admin-content">

    <router-outlet></router-outlet>

  </main>

</div>