.admin-layout{
    min-height:100vh;
    background:#f4f6fa;
}

/* Sidebar */
aside {
    background: #1e293b;
    min-height: 100vh;
    box-shadow: 4px 0 12px rgba(0, 0, 0, .2);
}

aside h4 {
    font-weight: bold;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff !important;
    padding: 12px 15px;
    border-radius: 10px;
    transition: .3s;
}

.nav-link:hover,
.nav-link.active {
    background: #334155;
    color: #f59e0b !important;
}

.nav-link.active {
    border-left: 4px solid #f59e0b;
}