<!-- 
<div class="container mt-5">

    <div class="titulo">
        <h1>Food Menu</h1>
        <h2>Special Delicious</h2>
    </div>


    <div class="row">

      

        <div class="col-12 col-sm-6 col-md-4 mb-4">

            <div class="food-card">

                <div class="food-image">
                    <img [src]="product.imageUrl" [alt]="product.name">
                </div>

                <div class="food-content">

                    <h3>{{ product.name }}</h3>

                    <p>{{ product.description }}</p>

                    <div class="price">
                        ${{ product.price }}
                    </div>

                    <button class="btn-order" (click)="addToCart(product)">
                        Agregar al carrito
                    </button>

                </div>

            </div>

        </div>

        

    </div>

    <button class="btn-carrito" routerLink="/carrito">
        Ver carrito
    </button>

</div> -->