.public-container {
  width: 100%;
  min-height: 100vh;

  background-image: url('/images/image5.avif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding-top: 20px;
  padding-bottom: 30px;

  box-sizing: border-box;
}

/* Cuando contiene la pantalla de bienvenida */

.public-container:has(.welcome-container) {
  min-height: 0;
  padding: 0;

  /* MUY IMPORTANTE */
  background-image: none;
}

/* CELULAR */
@media (max-width: 768px) {

  .public-container {
    min-height: 100dvh;

   

    padding-top: 20px;
    padding-bottom: 30px;

    box-sizing: border-box;
  }

  .public-container:has(.welcome-container) {
     min-height: calc(100vh - 70px);
    padding-top: 0;
    padding-bottom: 0;
  }
}