html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  background-image: url('/images/image5.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-x: hidden;
}

body {
  overscroll-behavior-y: none;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}