html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  background: #111;

  overflow-x: hidden;
}

body {
  overscroll-behavior-y: none;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}