

/* Contenido */
main {
    background: #f8fafc;
}

/* Tarjetas */
.card {
    border: none;
    border-radius: 18px;
    transition: .3s;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,.2);
}

.card h1 {
    color: #f59e0b;
    font-size: 3rem;
    font-weight: bold;
}

.card p {
    color: #666;
}

/* Responsive */
@media (max-width: 767px) {

    aside {
        min-height: auto;
    }

    .nav {
        flex-direction: row !important;
        overflow-x: auto;
        white-space: nowrap;
        justify-content: start;
    }

    .nav-item {
        flex: 0 0 auto;
    }

    .nav-link {
        margin-right: .5rem;
    }

    .card h1 {
        font-size: 2.2rem;
    }
}