<nav class="navbar navbar-expand-lg admin-navbar">

  <div class="container">

    <a class="navbar-brand fw-bold" routerLink="/admin/dashboard">
      Fast Track Admin
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#adminNavbar">

      <span class="navbar-toggler-icon"></span>

    </button>

   
      <div class="d-flex align-items-center">

        <span class="text-light me-3">
          👤 Administrador
        </span>

        <button class="btn btn-outline-warning">
          Cerrar sesión
        </button>

      </div>

    </div>

  

</nav>