```html
<nav class="navbar admin-navbar">

  <div class="container-fluid">

    <!-- IZQUIERDA -->
    <div class="header-left">

      <button
        class="btn-menu"
        type="button"
        (click)="menuToggle.emit()">
        ☰
      </button>

      <a
        class="navbar-brand fw-bold"
        routerLink="/admin/dashboard">
        Fast Track Admin
      </a>

    </div>


    <!-- DERECHA -->
    <div class="header-right">

      <div class="user-menu">

        <!-- USUARIO -->
        <button
          type="button"
          class="user-button"
          (click)="mostrarMenuUsuario = !mostrarMenuUsuario">

          <i class="fa-regular fa-circle-user"></i> {{ usuario.name || 'Administrador' }}

          <span class="flecha">
            {{ mostrarMenuUsuario ? '▲' : '▼' }}
          </span>

        </button>


        <!-- OPCIÓN CERRAR SESIÓN -->
        @if (mostrarMenuUsuario) {

          <div class="user-dropdown">

            <button
              type="button"
              class="logout-button"
              (click)="cerrarSesion()">

             <i class="fa-solid fa-right-from-bracket"></i> <span> Cerrar sesión</span>

            </button>

          </div>

        }

      </div>

    </div>

  </div>

</nav>
```
